# Ignore yolov5 repo (không đưa lên git)
yolov5/

# Ignore Jupyter notebooks
*.ipynb

# Ignore specific notebooks
test_ocr.ipynb
tempCodeRunnerFile.ipynb
t.ipynb
test.ipynb

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore temp files
*.tmp

# Ignore Qt Designer UI files
main_ui.ui
